@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
body{
    font-family: 'Poppins';
    color: black;
}
.header--container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
    background-color: lightgray;
    .logo{
        width: 5rem;
    }
}
.nav__link{
    display: flex;
    align-items: center;
    font-weight: 600;
    color: black;
    text-decoration: none;
    padding: .5rem;
    border-radius: 5px;
}
.nav__link:hover{
    background-color: lightgreen;
    color: blue;
}
.login__button{
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1rem;
    color: black;
    border: none;
    padding: .5rem;
    font-family: 'Poppins'; 
    background-color: lightgray;

}
.login__button:hover{
    background-color: lightgreen;
    color: blue;
}
hr{
    width: 93.5%;
}
@media (max-width: 680px){
    .flats--grid{
        display: flex;
        flex-direction: column;
    }
    .card{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 1rem;
        -webkit-box-shadow: 0 8px 6px -6px black;
        -moz-box-shadow: 0 8px 6px -6px black;
        box-shadow: 0 8px 6px -6px black;        
        .card__picture__container{
            display: flex;
            justify-content: center;
            .card__picture{
                border-radius: 5px;
                border: solid 1px black;
            }
            .flat1, .flat2, .flat3, .flat4{
                width: 100%;
                height: 100%;
            }
        }
        .card__description{
            font-size: 1rem;
            font-weight: bold;
            color: blue;
        }
        .card__price{
            font-size: 1rem;
            font-weight: bold;
        }
        .card__hr{
            width: 100%;
        }
        .card__contact{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .contact__icon{
            font-size: 1.5rem;
        }
        .card__description, .card__price, .card__features, .card__hr, .card__contact{
            background-color: rgb(247, 242, 242);
        }
        .card__hr { 
            margin:0; 
            padding:0; 
            background-color: blue; 
            border: 0; 
            height:1px;        
        }
        .money__icon{
            font-size: 2.5rem;
        }
    }
    .filter--container{
        display: flex;
        justify-content: flex-end;
        padding: 1rem;
    }
    .cheaper__button, .relevance__button{
        color: blue;
    }
    .sub--title{
        display: flex;
        justify-content: center;
        color: black;
        background-color: rgb(226, 246, 226);
    }
    .text--container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 1rem;
    }
    .image--container{
        .background1{
            width: 100%;
        }
    }
    
    .mortgage--title, .rooms__field{
        padding: 1rem;
    }
    .title__field, .name__field, .email__field, 
    .text__field, .price--container, .savings--container, 
    .years--container, .interest--container, .rooms--container, 
    .square--meters--container, .id__field, .extras__field{
        display: flex;
        justify-content: space-around;
        height: 1.5rem;
        border-radius: 5px;
        border: solid 1px black;
        font-family: 'Poppins';
    }
    .extras__field{
        width: 100%;
    }
    .mortgage__input{
        font-family: 'Poppins';
        font-size: 1rem;
    }
    .change__numbers__buttons{
        font-weight: bold;
        color: blue;
    }
    .input__container{
        display: flex;
        justify-content: flex-end;
    }    
    .figures--container{
        display: flex;
        padding: 1rem;
        justify-content: space-between;
        .info__globus{
            background-color: blue;
            font-family: 'Times New Roman';
            font-weight: bold;
            border-radius: 20px;
            color: white;
        }
        .modal__background {
            position: absolute;
            right: 0;
            top: 0;
            left: 0;
            bottom: 0;
            background-color: rgba(10, 10, 10, 0.86);
          }
          .modal__card {
            font-style: italic;
            margin: 0 auto;
            margin-top: 15rem;
            width: 20rem;
            height: 25rem;
            background-color: lightgray;
            border-radius: 5px;
            height: 20rem;
            overflow-y: "auto";
          }
          .modal__title{
              display: flex;
              justify-content: center;
              padding: 2rem;
              color: blue;
          }
          .listed__items{
              display: flex;
              justify-content: space-between;
              width: 100%;
              list-style: none;
          }
          .listed__numbers{
              margin-right: 2rem;
          }
          .total__amount{
              font-weight: bold;
              color:green;
              font-size: 1.2rem;
          }
          .modal__footer{
            margin-left: 2.5rem;
            font-size: .7rem;
          }
        .monthly__fee__title{
            font-weight: bold;
            margin-bottom: 2rem;
        }
    }
    .contact--details{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 1rem;
    }
    .google--map{
        padding: 1rem;
        .map__frame{
            width: 100%;
        }
    }
    .form--container{
        padding: 1rem;
        .name__field, .email__field, .title__field{
            width: 100%;
            font-family: 'Poppins';
        }
        .text__field{
            width: 100%;
            height: 3rem;
            font-family: 'Poppins';
        }
        .submit__button{
            background-color: rgb(226, 246, 226);
            border-radius: 5px;
            height: 2rem;
            width: 101.5%;
            font-family: 'Poppins';
            margin-bottom: 3rem;
        }
        .submit__button:hover{
            background-color: lightgreen;
            color: blue;
        }

    }
    .admin--container{
        display: flex;
        justify-content: flex-end;
        padding: 1rem;
        margin-top: 5rem;
        .admin__button{
            background-color: rgb(226, 246, 226);
            border-radius: 5px;
            font-family: 'Poppins';
        }
        .admin__button:hover{
            background-color: lightgreen;
            color: blue;
        }
        a:link{
            text-decoration: none;
        }

    }
    .footer--container{
        display: flex;
        justify-content: center;
        width: 100%;
        .contact--title{
            background-color: rgb(226, 246, 226);
        }
        footer{
            color: black;
            font-size: .5rem;
            background-color: white;
            border-radius: 5px;
            margin-top: 1rem;
            margin-bottom: 1rem;
          }
          .go--container{
            color: #ED1D24;
          }
      }
    .mortgage__input{
        border: none;
    }
    input::-webkit-outer-spin-button,  //hide input arrows
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}