@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
body{
    font-family: 'Poppins';
    color: black;
}
.header--container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
    background-color: lightgray;
    .logo{
        width: 5rem;
        border-radius: 10px;
    }
    .about__us__link{
        text-align: center;
    }
    .nav__link{
        display: flex;
        align-items: center;
        font-weight: 600;
        color: black;
        text-decoration: none;
        padding: .5rem;
        border-radius: 10px;
    }
    .nav__link:hover{
        background-color: lightgreen;
        color: blue;
    }
    .login__button{
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 1rem;
        color: black;
        border: none;
        padding: .5rem;
        font-family: 'Poppins'; 
        background-color: lightgray;
        border-radius: 10px;
    }
    .login__button:hover{
        background-color: lightgreen;
        color: blue;
    }
}
hr{
    width: 93.5%;
}
@media (max-width: 680px){
    .flats--grid{
        display: flex;
        flex-direction: column;
    }
    .card{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 1rem;
        -webkit-box-shadow: 0 8px 6px -6px black;
        -moz-box-shadow: 0 8px 6px -6px black;
        box-shadow: 0 8px 6px -6px black;        
        .card__picture__container{
            display: flex;
            justify-content: center;
            .card__picture{
                border-radius: 10px;
                border: solid 1px black;
            }
            .flat1, .flat2, .flat3, .flat4{
                width: 100%;
                height: 100%;
            }
        }
        .card__description{
            font-size: 1rem;
            font-weight: bold;
            color: blue;
        }
        .card__price{
            font-size: 1rem;
            font-weight: bold;
        }
        .card__hr{
            width: 100%;
        }
        .card__contact{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .contact__icon{
            font-size: 1.5rem;
        }
        .card__description, .card__price, .card__features, .card__hr, .card__contact{
            background-color: rgb(247, 242, 242);
        }
        .card__hr { 
            margin:0; 
            padding:0; 
            background-color: blue; 
            border: 0; 
            height:1px;        
        }
        .money__icon{
            font-size: 2.5rem;
        }
    }
    .filter--container{
        display: flex;
        justify-content: flex-end;
        padding: 1rem;
    }
    .cheaper__button, .relevance__button{
        color: blue;
        border-radius: 10px;
        margin-right: 1rem;
        font-size: 1rem;
    }
    .cheaper__button:hover, .relevance__button:hover{
        background-color: green;
        color: white;
    }
    .sub--title{
        display: flex;
        justify-content: space-evenly;
        color: black;
        background-color: rgb(226, 246, 226);
        padding: 1rem;
        .reset{
            width: 4.5rem;
            height: 4.5rem;
            border-radius: 100%;
            background-image: url('./images/recircle.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-color: rgb(226, 246, 226);
            margin-top: .5rem;
        }
        .reset:hover{
            animation-name: round;
            animation-duration: 1s;
            animation-iteration-count: 1;
        }
    }
    .text--container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 1rem;
    }
    .image--container{
        .background1{
            width: 100%;
        }
    }
    .mortgage--title{
        padding: 1rem;
        .house__price__input, .savings__input, .years__input, .interest__input{
        height: 3rem;
        font-size: 2rem;
        border-radius: 10px;
        border: solid 2px green ;
        font-family: 'Poppins';
        width: 100%;
        text-align: center;
        }
        .house__price__input:hover, .savings__input:hover, 
        .years__input:hover, .interest__input:hover{
            border: solid 4px green ;
        }
    }
    .mortgage--interest:hover{
        color: green;
    }
    .contact--container{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        .request__field, .name__field, .email__field{
            height: 2rem;
            font-size: 2rem;
            border-radius: 10px;
            padding: .5rem;
            border: solid 2px green ;
            font-family: 'Poppins';
            margin-bottom: -1rem;
        }
        .request__field{
            height: 8rem;
        }
        .name__field:hover, .email__field:hover, 
        .request__field:hover{
            border: solid 4px green ;
        }
        .submit__button{
            background-color: rgb(226, 246, 226);
            border-radius: 10px;
            height: 3rem;
            font-family: 'Poppins';
            margin-bottom: 1rem;
            font-size: 1.5rem;
        }
        .submit__button:hover{
            background-color: lightgreen;
            color: blue;
        }
    }
    .calculate--container{
        display: flex;
        justify-content: center;
        padding: 1rem;
        text-align: center;
        .calculate{
            padding: .5rem;
            width: 200%;
            border-radius: 10px;
            background-color: lightgreen;
            font-size: 2rem;
            font-style: italic;
            text-decoration: none;
            border: solid 2px black;
            font-weight: bold;
        }
        .calculate:hover{
            background-color: yellow;
        }
    }
    .figures--container{
        display: flex;
        padding: 1rem;
        justify-content: space-between;
        .info__globus{
            background-color: blue;
            font-family: 'Times New Roman';
            font-weight: bold;
            border-radius: 20px;
            color: white;
        }
        .modal__background {
            position: absolute;
            right: 0;
            top: 0;
            left: 0;
            bottom: 0;
            background-color: rgba(10, 10, 10, 0.86);
            height: 150%;
          }
          .modal__card {
            font-style: italic;
            margin: 0 auto;
            margin-top: 25rem;
            width: 20rem;
            height: 25rem;
            background-color: lightgray;
            border-radius: 30px;
            height: 20rem;
            overflow-y: "auto";
          }
          .modal__title{
              display: flex;
              justify-content: center;
              padding: 2rem;
              color: blue;
          }
          .listed__items{
              display: flex;
              justify-content: space-between;
              width: 100%;
              list-style: none;
          }
          .listed__numbers{
              margin-right: 2rem;
          }
          .total__amount{
              font-weight: bold;
              color:green;
              font-size: 1.2rem;
          }
          .modal__footer{
            margin-left: 2.5rem;
            font-size: .7rem;
          }
        .monthly__fee__title{
            font-weight: bold;
            margin-bottom: 2rem;
        }
    }
    .contact--details{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 1rem;
    }
    .google--map{
        padding: 1rem;
        .map__frame{
            width: 100%;
            border-radius: 10px;
        }
    }
    .create--property--container{
        padding: 1rem;
        display: flex;
        flex-direction: column;
        .title__field, .text__field, .rooms__field, 
        .meters__field, .ref__field, 
        .extras__field, .price__field{
            height: 2rem;
            font-size: 2rem;
            border-radius: 10px;
            padding: .5rem;
            border: solid 2px green ;
            font-family: 'Poppins';
            margin-bottom: 1rem;
        }
        .pictures__field{
            margin-bottom: 1rem;
        }
        .picture__square{
            margin-bottom: 1rem;
            margin-top: 1rem;
            border-radius: 10px;
            border:solid 2px green;
            height: 12rem;
            background-size: cover;
            width: 100%;
        }
        .picture__container{
            display: flex;
            flex-direction: row;
            .delete__button__container{
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 1rem;
                .delete__button{
                    border-radius: 10px;
                    height: 4rem;
                    width: 3.5rem;
                    margin-bottom: 1rem;
                    background-image: url('./images/trashcan.png');
                    background-size: cover;
                    border: solid 2px green;
                }
                .delete__button:hover{
                    border: solid 5px red;
                }
            }
        }
        .title__field:hover, .name__field:hover, .rooms__field:hover, 
        .meters__field:hover, .ref__field:hover, 
        .extras__field:hover, .price__field:hover{
            border: solid 4px green ;
        }
        .text__field{
            height: 9rem;
        }        
        .submit__button{
            background-color: rgb(226, 246, 226);
            border-radius: 10px;
            height: 3rem;
            font-family: 'Poppins';
            margin-bottom: 1rem;
            font-size: 1.5rem;
        }
        .submit__button:hover{
            background-color: lightgreen;
            color: blue;
        }
    }
    .admin--container{
        display: flex;
        justify-content: space-around;
        padding: 1rem;
        .admin__button{
            background-color: rgb(226, 246, 226);
            border-radius: 10px;
            font-family: 'Poppins';
            border: solid black 2px;
            padding: .1rem;
            font-weight: bold;
            color: black;
        }
        .admin__button:hover{
            background-color: lightgreen;
            color: blue;
        }
        a:link{
            text-decoration: none;
        }
    }
    .properties--container{
        padding: 1rem;   
        .property__card{
            display: flex;
            flex-direction: column;
            border-radius: 20px;
            border: solid 2px green;
            padding: 1rem;
            .show__pictures__button{
                background-color: rgb(226, 246, 226);
                border-radius: 10px;
                font-family: 'Poppins';
                border: solid black 2px;
                padding: .1rem;
                font-weight: bold;
                color: black;
                margin-top: 1rem;
            }
            .show__pictures__button:hover{
                background-color: lightgreen;
                color: blue;
            }
            .footer__card__container{
                display: flex;
                width: 100%;
                flex-direction: column;
                justify-content: space-between;
                .properties__pictures{
                    display: flex;
                    flex-direction: row;
                    overflow: scroll;
                    margin-bottom: 1rem;
                    margin-top: 1rem;
                }
                .left__arrow, .right__arrow{
                    color: green;   
                    font-size: 2rem;             
                }
                .left__arrow:hover, .right__arrow:hover{
                   color: lightgreen;
                }
                .picture__carousel{
                    height: 10rem;
                    border: solid 1px green;
                    width: 60%;
                    border-radius: 10px;
                }
            }
            .trash__div{
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                .delete__button{
                    border-radius: 5px;
                    height: 2rem;
                    width: 1.7rem;
                    background-image: url('./images/trashcan.png');
                    background-size: cover;
                    border: solid 2px green;
                }
                .delete__button:hover{
                    border: solid 5px red;
                }
            }
            .modal__pa__background{
                position: fixed;
                right: 0;
                top: 0;
                left: 0;
                bottom: 0;
                background-color: rgba(10, 10, 10, 0.86);
                height: 100%;
                .modal__pa__card{
                    font-style: italic;
                    margin: 0 auto;
                    margin-top: 25rem;
                    width: 20rem;
                    background-color: lightgray;
                    border-radius: 20px;
                    height: 10rem;
                    overflow-y: "auto";
                    .modal__pa__title{
                        display: flex;
                        justify-content: center;
                        padding: 1rem;
                        color: blue;
                    }
                    .modal--buttons--container{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        .modal__delete__button, .modal__cancel__button{
                            border-radius: 10px;
                            font-size: 1.5rem;
                            font-family: 'Poppins';
                            font-weight: bold;
                            background-color: rgb(226, 246, 226);
                        }
                        .modal__delete__button:hover{
                            background-color: red;
                            color: black;
                        }
                        .modal__cancel__button:hover{
                            background-color: lightgreen;
                        }
                    }
                }
            }  
            .modal__update__background{
                position: fixed;
                right: 0;
                top: 0;
                left: 0;
                bottom: 0;
                background-color: rgba(10, 10, 10, 0.86);
                height: 100%;
                .modal__update__card{
                    font-style: italic;
                    margin: 0 auto;
                    margin-top: 12rem;
                    width: 25rem;
                    height: 35rem;
                    background-color: lightgray;
                    border-radius: 10px;
                    overflow-y: "auto";
                    .inputs__container{
                        display: flex;
                        flex-direction: column;
                        padding: 1rem;
                        .update__title, .update__description, .update__meters,
                        .update__rooms, .update__extras, .update__price{
                            margin-bottom: 1rem;
                            height: 1.5rem;
                            border-radius: 10px;
                            padding: .5rem;
                            border: solid 2px green;
                            font-size: 1rem;
                            font-family: 'Poppins';
                            font-weight: bold;
                        }
                        .update__title:hover, .update__description:hover, .update__meters:hover,
                        .update__rooms:hover, .update__extras:hover, .update__price:hover{
                            border: solid 4px green;
                        }

                        .update__description{
                            height: 4rem;
                        }
                    }
                    .modal--buttons--container{
                        display: flex;
                        justify-content: center;
                        flex-direction: row;
                        justify-content: space-around;
                        .modal__update__button{
                            border-radius: 10px;
                            font-family: 'Poppins';
                            font-weight: bold;
                            background-color: rgb(226, 246, 226);
                        }
                        .modal__update__button:hover{
                            background-color: lightgreen;
                            color: blue;
                        }
                    }
                }
            }         
        }
        /*.buttons--container{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            .update__button{
                background-color: rgb(226, 246, 226);
                border-radius: 10px;
                height: 2rem;
                font-family: 'Poppins';
                font-size: 1rem;
            }
            .update__button:hover{
                background-color: lightgreen;
                color: blue;
            }
            .delete__button{
                border-radius: 10px;
                height: 4rem;
                width: 3.5rem;
                margin-bottom: 1rem;
                background-image: url('./images/trashcan.png');
                background-size: cover;
                border: solid 2px green;
            }
            .delete__button:hover{
                border: solid 5px red;
            }
        }*/
    }
    .footer--container{
        display: flex;
        justify-content: center;
        width: 100%;
        .contact--title{
            background-color: rgb(226, 246, 226);
        }
        footer{
            color: black;
            font-size: .5rem;
            background-color: white;
            border-radius: 10px;
            margin-top: 1rem;
            margin-bottom: 1rem;
          }
          .go--container{
            color: #ED1D24;
          }
      }
    .users--list{
        .add--user--container{
            padding: 1rem;
            .email__field{
                height: 2rem;
                font-size: 2rem;
                border-radius: 10px;
                padding: .5rem;
                border: solid 2px green ;
                font-family: 'Poppins';
                margin-right: 1rem;
                width: 74%;
            }
            .email__field:hover{
                border: solid 4px green ;
            }
            .add__symbol{
                color:green; 
                font-weight: bolder;
            }
            .add__symbol:hover{
                border:  4px green ;
            }
            .submit__button{
                background-color: rgb(226, 246, 226);
                border-radius: 10px;
                height: 3.2rem;
                font-family: 'Poppins';
                margin-bottom: 1rem;
                font-size: 2rem;
            }
            .submit__button:hover{
                background-color: lightgreen;
                color: blue;
            }
        }
        .users{
            display: flex;
            padding: 1rem;
            flex-direction: column;
            .user__view{
                display: flex;
                flex-direction: row;
                justify-content: center;
                .user__email{
                    font-size: 1.5rem;
                    margin-right: 1rem;
                }
                .delete__user{
                    background-color: rgb(226, 246, 226);
                    font-weight: bolder;
                    border-radius: 5px;
                }
                .delete__user:hover{
                    border: solid 4px red ;
                }
            }
        }
        .modal__pa__background{
            position: fixed;
            right: 0;
            top: 0;
            left: 0;
            bottom: 0;
            background-color: rgba(10, 10, 10, 0.86);
            height: 100%;
            .modal__pa__card{
                font-style: italic;
                margin: 0 auto;
                margin-top: 25rem;
                width: 20rem;
                background-color: lightgray;
                border-radius: 20px;
                height: 10rem;
                overflow-y: "auto";
                .modal__pa__title{
                    display: flex;
                    justify-content: center;
                    padding: 1rem;
                    color: blue;
                }
                .modal--buttons--container{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    .modal__delete__button, .modal__cancel__button{
                        border-radius: 10px;
                        font-size: 1.5rem;
                        font-family: 'Poppins';
                        font-weight: bold;
                        background-color: rgb(226, 246, 226);
                    }
                    .modal__delete__button:hover{
                        background-color: red;
                        color: black;
                    }
                    .modal__cancel__button:hover{
                        background-color: lightgreen;
                    }
                }
            }
        }
    }
    input::-webkit-outer-spin-button,  //hide input arrows
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}
@keyframes blink{
    from { background-color: blue; }
    to { background-color: red; }
}
@keyframes round{
    from{ transform: rotate(0deg); }
    to{ transform: rotate(-360deg); }
}
::-webkit-file-upload-button {  //css for upload button
    color: black;
    padding: 1em;
    border-radius: 10px;
    background-color: white;
    border: solid 2px green;
    font-family: 'Poppins';
    font-weight: bold;
  }